@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Poppins:wght@800&display=swap");

@font-face {
  font-family: "Larsseit";
  src: url("../fonts/Larsseit\Regular.woff2") format("woff2"),
    url("../fonts/Larsseit-Regular.woff") format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Larsseit";
  src: url("../fonts/Larsseit-Medium.woff2") format("woff2"),
    url("../fonts/Larsseit-Medium.woff") format("woff");
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Larsseit";
  src: url("../fonts/Larsseit-Bold.woff2") format("woff2"),
    url("../fonts/Larsseit-Bold.woff") format("woff");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

.title {
  font-family: "Lato";
  font-weight: 900;
  font-size: 50px;
  color: blue;
}
.second {
  font-family: "larsseit";
  font-weight: 700;
  color: red;
  font-size: 30px;
}

a {
  font-family: "loto";
  font-weight: 700;
  color: crimson;
}
.alldead {
  font-family: "Larsseit";
  font-weight: 500;
  color: blueviolet;
}
p {
  font-family: "Larsseit";
  font-weight: 400;
  color: green;
}
.komq {
  font-family: "Lato";
  font-weight: 900;
  color: deeppink;
}
a.golova {
  font-family: "Lato";
  font-weight: 900;
  color: gold;
}
